In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.set_option('display.max_columns', None)

In [2]:
#bringing in imdb
imdb_df = pd.read_csv('data/imdb_df.csv')

In [3]:
#bringing in wiki
wiki_df = pd.read_csv('data/wiki_final_list.csv')

In [4]:
#deleting unwanted column
del imdb_df['Unnamed: 0']

In [5]:
#deleting unwanted column
del wiki_df['Unnamed: 0']

In [6]:
imdb_df

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross
0,Titanic,1997,PG-13,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,194,"Drama, Romance",75,7.9,"1,168,794",$659.33M
1,Star Wars: Episode I - The Phantom Menace,1999,PG,George Lucas,Ewan McGregor,Liam Neeson,Natalie Portman,Jake Lloyd,136,"Action, Adventure, Fantasy",51,6.5,"805,014",$474.54M
2,The Lion King,1994,G,Roger Allers,Rob Minkoff,Matthew Broderick,Jeremy Irons,James Earl Jones,88,"Animation, Adventure, Drama",88,8.5,"1,054,327",$422.78M
3,Jurassic Park,1993,PG-13,Steven Spielberg,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,127,"Action, Adventure, Sci-Fi",68,8.2,"985,839",$402.45M
4,Forrest Gump,1994,PG-13,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,142,"Drama, Romance",82,8.8,"2,067,035",$330.25M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,One Good Cop,1991,R,Heywood Gould,Michael Keaton,Rene Russo,Anthony LaPaglia,Kevin Conway,114,"Action, Crime, Drama",none,5.8,"4,286",$11.28M
1046,Chill Factor,1999,R,Hugh Johnson,Cuba Gooding Jr.,Skeet Ulrich,Peter Firth,David Paymer,102,"Action, Adventure, Comedy",33,5.2,"9,808",$11.23M
1047,"The Adventures of Priscilla, Queen of the Desert",1994,R,Stephan Elliott,Hugo Weaving,Guy Pearce,Terence Stamp,Rebel Penfold-Russell,104,"Comedy, Music",70,7.5,"51,010",$11.22M
1048,Q&A,1990,R,Sidney Lumet,Nick Nolte,Timothy Hutton,Armand Assante,Patrick O'Neal,132,"Crime, Drama, Thriller",66,6.5,"6,343",$11.21M
1049,Deep Rising,1998,R,Stephen Sommers,Treat Williams,Famke Janssen,Anthony Heald,Kevin J. O'Connor,106,"Action, Adventure, Horror",none,6.1,"37,848",$11.20M

In [7]:
imdb_df['release_year'].value_counts()

1996    119
1999    118
1997    111
1998    111
1994    108
1995    108
1993    100
1990     93
1992     93
1991     89
Name: release_year, dtype: int64

In [8]:
wiki_trim = wiki_df.rename(columns = {'Title': 'movie_title' })
wiki_trim.head(50)

,Opening,movie_title,Studio,Medium
0,JANUARY,Henry: Portrait of a Serial Killer,Greycat Films,Live action
1,JANUARY,Drug Wars: The Camarena Story,NBC Productions / World International Network ...,Live action
2,JANUARY,Downtown,20th Century Fox,Live action
3,JANUARY,Internal Affairs,Paramount Pictures,Live action
4,JANUARY,Leatherface: The Texas Chainsaw Massacre III,New Line Cinema,Live action
5,JANUARY,Ski Patrol,Epic Productions,Live action
6,JANUARY,Brain Dead,Concorde,Live action
7,JANUARY,Everybody Wins,Orion Pictures,Live action
8,JANUARY,Tremors,Universal Pictures,Live action
9,FEBRUARY,Flashback,Paramount Pictures,Live action
10,FEBRUARY,Heart Condition,New Line Cinema,Live action
11,FEBRUARY,A Man Called Sarge,The Cannon Group,Live action
12,FEBRUARY,Men Don't Leave,Warner Bros. Pictures,Live action
13,FEBRUARY,Stella,Touchstone Pictures / The Samuel Goldwyn Company,Live action
14,FEBRUARY,Hard to Kill,Warner Bros. Pictures,Live action
15,FEBRUARY,Loose Cannons,TriStar Pictures,Live action
16,FEBRUARY,Stanley & Iris,Metro-Goldwyn-Mayer,Live action
17,FEBRUARY,Blind Faith,NBC Productions,Live action
18,FEBRUARY,Courage Mountain,Triumph Films,Live action
19,FEBRUARY,Madhouse,Orion Pictures,Live action
20,FEBRUARY,Cinema Paradiso,Miramax Films,Live action
21,FEBRUARY,Mountains of the Moon,TriStar Pictures / Carolco Pictures,Live action
22,FEBRUARY,Nightbreed,20th Century Fox / Morgan Creek Productions,Live action
23,FEBRUARY,Revenge,Columbia Pictures / Rastar,Live action
24,FEBRUARY,Where the Heart Is,Touchstone Pictures,Live action
25,MARCH,The Hunt for Red October,Paramount Pictures,Live action
26,MARCH,Bad Influence,Triumph Films,Live action
27,MARCH,Coupe de Ville,Universal Pictures / Morgan Creek Productions,Live action
28,MARCH,The Handmaid's Tale,Metro-Goldwyn-Mayer,Live action
29,MARCH,House Party,New Line Cinema,Live action
30,MARCH,Joe Versus the Volcano,Warner Bros. Pictures / Amblin Entertainment,Live action
31,MARCH,Last of the Finest,Orion Pictures,Live action
32,MARCH,Love at Large,Orion Pictures,Live action
33,MARCH,Blind Fury,TriStar Pictures / Interscope Communications,Live action
34,MARCH,Blue Steel,Metro-Goldwyn-Mayer,Live action
35,MARCH,The Forbidden Dance,Columbia Pictures,Live action
36,MARCH,Lambada,Cannon Films,Live action
37,MARCH,Lord of the Flies,Columbia Pictures / Castle Rock Entertainment ...,Live action
38,MARCH,Nuns on the Run,20th Century Fox,Live action
39,MARCH,Pretty Woman,Touchstone Pictures,Live action
40,MARCH,A Shock to the System,Corsair Pictures,Live action
41,MARCH,Opportunity Knocks,Universal Pictures / Imagine Entertainment,Live action
42,MARCH,Side Out,TriStar Pictures,Live action
43,MARCH,Teenage Mutant Ninja Turtles,New Line Cinema,Live action
44,MARCH,NaN,NaN,NaN
45,APRIL,Catchfire,Vestron Pictures,Live action
46,APRIL,"The Cook, the Thief, His Wife & Her Lover",Palace Pictures / Miramax,Live action
47,APRIL,Cry-Baby,Universal Pictures / Imagine Entertainment,Live action
48,APRIL,Ernest Goes to Jail,Touchstone Pictures,Live action
49,APRIL,The First Power,Orion Pictures / Nelson Entertainment,Live action

In [9]:
#merge two dataframes 
imdb_wiki = pd.merge(imdb_df, wiki_trim, on = ['movie_title'], how='left')
imdb_wiki

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross,Opening,Studio,Medium
0,Titanic,1997,PG-13,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,194,"Drama, Romance",75,7.9,"1,168,794",$659.33M,DECEMBER,20th Century Fox / Paramount Pictures,Live action
1,Star Wars: Episode I - The Phantom Menace,1999,PG,George Lucas,Ewan McGregor,Liam Neeson,Natalie Portman,Jake Lloyd,136,"Action, Adventure, Fantasy",51,6.5,"805,014",$474.54M,NaN,NaN,NaN
2,The Lion King,1994,G,Roger Allers,Rob Minkoff,Matthew Broderick,Jeremy Irons,James Earl Jones,88,"Animation, Adventure, Drama",88,8.5,"1,054,327",$422.78M,JUNE,Walt Disney Pictures,Animation
3,Jurassic Park,1993,PG-13,Steven Spielberg,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,127,"Action, Adventure, Sci-Fi",68,8.2,"985,839",$402.45M,JUNE,Universal Pictures / Amblin Entertainment,Live action
4,Forrest Gump,1994,PG-13,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,142,"Drama, Romance",82,8.8,"2,067,035",$330.25M,JULY,Paramount Pictures,Live action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,One Good Cop,1991,R,Heywood Gould,Michael Keaton,Rene Russo,Anthony LaPaglia,Kevin Conway,114,"Action, Crime, Drama",none,5.8,"4,286",$11.28M,MAY,Hollywood Pictures,Live action
1051,Chill Factor,1999,R,Hugh Johnson,Cuba Gooding Jr.,Skeet Ulrich,Peter Firth,David Paymer,102,"Action, Adventure, Comedy",33,5.2,"9,808",$11.23M,SEPTEM BER,Warner Bros. Pictures / Morgan Creek Productions,Live action
1052,"The Adventures of Priscilla, Queen of the Desert",1994,R,Stephan Elliott,Hugo Weaving,Guy Pearce,Terence Stamp,Rebel Penfold-Russell,104,"Comedy, Music",70,7.5,"51,010",$11.22M,AUGUST,Gramercy Pictures,Live action
1053,Q&A,1990,R,Sidney Lumet,Nick Nolte,Timothy Hutton,Armand Assante,Patrick O'Neal,132,"Crime, Drama, Thriller",66,6.5,"6,343",$11.21M,APRIL,TriStar Pictures,Live action
1054,Deep Rising,1998,R,Stephen Sommers,Treat Williams,Famke Janssen,Anthony Heald,Kevin J. O'Connor,106,"Action, Adventure, Horror",none,6.1,"37,848",$11.20M,JANUARY,Hollywood Pictures / Cinergi Pictures,Live action

In [10]:
print(len(imdb_wiki))

1055

In [47]:
#dropping rows with na if there are more than 5
imdb_wiki['director'].value_counts()

Joel Schumacher        8
Tony Scott             7
Barry Levinson         7
Chris Columbus         7
Clint Eastwood         7
                      ..
David Mirkin           1
Keenen Ivory Wayans    1
John McNaughton        1
Kinka Usher            1
Hugh Johnson           1
Name: director, Length: 552, dtype: int64

In [12]:
imdb_wiki['star_one'].value_counts()

Bruce Willis             15
Mel Gibson               13
Kevin Costner            12
Jean-Claude Van Damme    12
Tom Hanks                12
                         ..
Brian Krause              1
Brian Bonsall             1
Molly Shannon             1
Mary Steenburgen          1
Treat Williams            1
Name: star_one, Length: 466, dtype: int64

In [13]:
imdb_wiki['star_two'].value_counts()

Meg Ryan             8
Nicole Kidman        8
Sharon Stone         7
Michelle Pfeiffer    7
Gene Hackman         7
                    ..
Beverly D'Angelo     1
Carla Gugino         1
Patrick Swayze       1
Joaquin Phoenix      1
Timothy Hutton       1
Name: star_two, Length: 656, dtype: int64

In [14]:
imdb_wiki['star_three'].value_counts()

Samuel L. Jackson         5
Joan Cusack               5
William Sadler            4
Gene Hackman              4
James Remar               4
                         ..
Marlon Wayans             1
Jonathan Taylor Thomas    1
Laura Harris              1
Brandy Norwood            1
Anthony Heald             1
Name: star_three, Length: 793, dtype: int64

In [15]:
imdb_wiki['star_four'].value_counts()

James Woods          5
Oliver Platt         5
Joan Cusack          4
Mako                 4
Chazz Palminteri     4
                    ..
Eric Lloyd           1
Michael Rosenbaum    1
Joss Ackland         1
Lois Hall            1
Kevin J. O'Connor    1
Name: star_four, Length: 877, dtype: int64

In [16]:
imdb_wiki.loc[imdb_wiki.director == 'Joel Schumacher']

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross,Opening,Studio,Medium
22,Batman Forever,1995,PG-13,Joel Schumacher,Val Kilmer,Tommy Lee Jones,Jim Carrey,Nicole Kidman,121,"Action, Adventure",51,5.4,"254,336",$184.03M,JUNE,Warner Bros. Pictures,Live action
93,A Time to Kill,1996,R,Joel Schumacher,Matthew McConaughey,Sandra Bullock,Samuel L. Jackson,Kevin Spacey,149,"Crime, Drama, Thriller",54,7.5,"162,405",$108.77M,JULY,Warner Bros. Pictures / Regency Enterprises,Live action
97,Batman & Robin,1997,PG-13,Joel Schumacher,Arnold Schwarzenegger,George Clooney,Chris O'Donnell,Uma Thurman,125,"Action, Sci-Fi",28,3.7,"254,942",$107.33M,JUNE,Warner Bros. Pictures,Live action
133,The Client,1994,PG-13,Joel Schumacher,Susan Sarandon,Tommy Lee Jones,Brad Renfro,Mary-Louise Parker,119,"Crime, Drama, Mystery",65,6.7,"67,496",$92.12M,JULY,Warner Bros. Pictures / Regency Enterprises,Live action
239,Flatliners,1990,R,Joel Schumacher,Kiefer Sutherland,Kevin Bacon,Julia Roberts,William Baldwin,115,"Drama, Horror, Sci-Fi",55,6.5,"88,077",$61.49M,AUGUST,Columbia Pictures,Live action
400,Falling Down,1993,R,Joel Schumacher,Michael Douglas,Robert Duvall,Barbara Hershey,Rachel Ticotin,113,"Action, Crime, Drama",56,7.6,"191,525",$40.90M,FEBRUARY,Warner Bros. Pictures,Live action
448,8MM,1999,R,Joel Schumacher,Nicolas Cage,Joaquin Phoenix,James Gandolfini,Peter Stormare,123,"Crime, Drama, Mystery",19,6.5,"134,288",$36.66M,NaN,NaN,NaN
485,Dying Young,1991,R,Joel Schumacher,Julia Roberts,Campbell Scott,Vincent D'Onofrio,Colleen Dewhurst,111,"Drama, Romance",none,6.0,"16,554",$33.67M,JUNE,20th Century Fox,Live action

In [17]:
imdb_wiki.loc[imdb_wiki.star_one == 'Kevin Bacon']

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross,Opening,Studio,Medium
542,Wild Things,1998,R,John McNaughton,Kevin Bacon,Neve Campbell,Matt Dillon,Denise Richards,108,"Crime, Drama, Mystery",52,6.6,"121,967",$29.75M,MARCH,Columbia Pictures / Mandalay Entertainment,Live action
720,Stir of Echoes,1999,R,David Koepp,Kevin Bacon,Zachary David Cope,Kathryn Erbe,Illeana Douglas,99,"Horror, Mystery, Thriller",67,6.9,"82,548",$21.13M,SEPTEM BER,Artisan Entertainment,Live action
724,The Air Up There,1994,PG,Paul Michael Glaser,Kevin Bacon,Charles Gitonga Maina,Yolanda Vazquez,Winston Ntshona,107,"Comedy, Family, Sport",none,5.5,"9,147",$21.01M,JANUARY,Hollywood Pictures / Interscope Communications,Live action
844,Tremors,1990,PG-13,Ron Underwood,Kevin Bacon,Fred Ward,Finn Carter,Michael Gross,96,"Comedy, Horror",65,7.1,"139,866",$16.67M,JANUARY,Universal Pictures,Live action
1045,Balto,1995,G,Simon Wells,Kevin Bacon,Bob Hoskins,Bridget Fonda,Jim Cummings,78,"Animation, Adventure, Drama",none,7.1,"44,447",$11.35M,DECEMBER,Universal Pictures / Amblimation,Animation

In [18]:
imdb_wiki.loc[imdb_wiki.star_two == 'Kevin Bacon']

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross,Opening,Studio,Medium
239,Flatliners,1990,R,Joel Schumacher,Kiefer Sutherland,Kevin Bacon,Julia Roberts,William Baldwin,115,"Drama, Horror, Sci-Fi",55,6.5,"88,077",$61.49M,AUGUST,Columbia Pictures,Live action
334,Sleepers,1996,R,Barry Levinson,Robert De Niro,Kevin Bacon,Brad Pitt,Jason Patric,147,"Crime, Drama, Thriller",49,7.5,"224,380",$49.10M,OCTOBER,Warner Bros. Pictures / PolyGram Filmed Entert...,Live action
348,The River Wild,1994,PG-13,Curtis Hanson,Meryl Streep,Kevin Bacon,David Strathairn,Joseph Mazzello,111,"Adventure, Crime, Thriller",63,6.5,"47,070",$46.82M,SEPTEMBER,Universal Pictures,Live action
819,Murder in the First,1995,R,Marc Rocco,Christian Slater,Kevin Bacon,Gary Oldman,Embeth Davidtz,122,"Drama, Thriller",none,7.3,"28,904",$17.38M,JANUARY,Warner Bros. Pictures,Live action

In [19]:
imdb_wiki.loc[imdb_wiki.star_three == 'Kevin Bacon']

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross,Opening,Studio,Medium
28,Apollo 13,1995,PG,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,140,"Adventure, Drama, History",77,7.7,"296,440",$173.84M,JUNE,Universal Pictures / Imagine Entertainment,Live action
519,Picture Perfect,1997,PG-13,Glenn Gordon Caron,Jennifer Aniston,Jay Mohr,Kevin Bacon,Olympia Dukakis,101,"Comedy, Drama, Romance",44,5.5,"20,477",$31.06M,AUGUST,20th Century Fox,Live action

In [20]:
imdb_wiki.loc[imdb_wiki.star_four == 'Kevin Bacon']

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross,Opening,Studio,Medium
48,A Few Good Men,1992,R,Rob Reiner,Tom Cruise,Jack Nicholson,Demi Moore,Kevin Bacon,138,"Drama, Thriller",62,7.7,"265,680",$141.34M,DECEMBER,Columbia Pictures / Castle Rock Entertainment,Live action

In [21]:
imdb_wiki['movie_rating'].value_counts()

R        493
PG-13    315
PG       202
G         41
None       2
NC-17      2
Name: movie_rating, dtype: int64

In [22]:
imdb_wiki.loc[imdb_wiki.movie_rating == 'None']

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross,Opening,Studio,Medium
298,T-Rex: Back to the Cretaceous,1998,None,Brett Leonard,Peter Horton,Liz Stauber,Kari Coleman,Charlene Sashuk,45,"Adventure, Family, Fantasy",none,4.7,775,$53.35M,NaN,NaN,NaN
614,"Mon pÃ¨re, ce hÃ©ros.",1991,None,GÃ©rard Lauzier,GÃ©rard Depardieu,Marie Gillain,Catherine Jacob,Charlotte de Turckheim,105,"Comedy, Drama, Romance",none,6.1,"2,780",$25.48M,NaN,NaN,NaN

In [45]:
#turn this into a a seaborn bar plot. side by side columns with different color for legend 
#it looks like 1993 and 1994 had more family friendly movies and less R rated movies but R rated movies are the highest each year
# get rid of the none ratings
ratings_per_year = imdb_wiki.groupby(['release_year','movie_rating']).size().to_frame()
ratings_per_year

                            0
release_year movie_rating
1990         G              2
             NC-17          1
             PG            17
             PG-13         25
             R             49
1991         G              4
             None           1
             PG            17
             PG-13         22
             R             45
1992         G              3
             PG            18
             PG-13         26
             R             47
1993         G              2
             PG            28
             PG-13         30
             R             40
1994         G              3
             PG            32
             PG-13         34
             R             39
1995         G              7
             NC-17          1
             PG            21
             PG-13         29
             R             52
1996         G              5
             PG            22
             PG-13         41
             R             52
1997         G              2
             PG            19
             PG-13         35
             R             55
1998         G              5
             None           1
             PG            16
             PG-13         36
             R             53
1999         G              8
             PG            12
             PG-13         37
             R             61